/* 1. select body */

body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
line-height: 1.5;
margin: 0;
background-color: #7251B5;
}

/* 2. select h1, h2, h3 */ 

h1, h2, h3 {
margin-bottom: 0;
}

/* 3. select the id comapny name */

.company-name {
font-size: 1.5rem;
}

/* 4. select header, footer */

header, footer {
background-color: #000;
color: #DEC9E9;
}

/* 5. select the class wrapper */

.wrapper {
max-width: 940px;
margin: 0 auto;
padding: 2em;   
}

/* 6. select both list types */

li {
    padding: 0;
list-style: none;}

/* 7. use descendant selector to select the links within the navigation */

nav li {
color: #DEC9E9;
text-decoration: none;
}

/* 8. use an adjacent selector to target the section immediately beside the section with id #intro */

h1 + p {
background-color: #000;
color: #DEC9E9;
}

/* 9. use a child selector to target the img tag directly with the article tags */

article > img {
    width: 150px;
border-radius: 50%;
filter: grayscale(100%);
margin-top: 1em;
}

/* 10. select every even numbered li within the ordered list */

li:nth-child(even) {
color: #dc33dc;
}

/* 11. use a child selector to target the img tag directly with the main element */

main > img {
width: 100%;
}

